colorama==0.4.5
cycler==0.11.0
fonttools==4.33.3
kiwisolver==1.4.2
matplotlib==3.5.2
natsort==8.1.0
numpy==1.22.4
packaging==21.3
Pillow==9.1.1
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0
torch==1.13.0.dev20220603+cu116
tqdm==4.64.0
typing_extensions==4.2.0
